body {
    width: 100%;
    min-height: 100vh;
    color: #333;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px 30px 0;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 85vh;
    padding: 0 30px;
    text-align: left;
    font-family: 'Space Mono', monospace;
    max-width: 100vw;
    margin-bottom: 30px;

}

img {
    width: 100%;
}
.img-wrapper {
    text-align: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 71.09px;
}

p#error-text {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    width: 328px;
    line-height: 26.66px;
}

button {
    background: #333;
    border: none;
    color: #fff;
    padding: 15px 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

footer {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 17.07px;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 0 auto 10px;
    width: 100%;
}

footer p, footer a {
    color: #A9A9A9;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #333;
}

@media (min-width:768px) {
    body {
        max-height: 100vh;
    }

    img {
        width: 85%;
    }

    .img-wrapper {
        width: 40%;
    }

    .text-wrapper {
        width: 55%;
    }

    main {
        text-align: left;
    }

    h2 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    
    p#error-text {
        font-size: 24px;
        line-height: 35.54px;
        width: 380px;
    }

    footer {
        position: absolute;

    }
}

